@use "../_variables" as *;

@mixin animate($animation, $duration, $method, $times) {
  animation: $animation $duration $method $times;
}

@mixin keyframes($name) {
  @keyframes #{$name} {
    @content;
  }
}

.about {
  display: flex;
  flex-direction: row !important;
  width: 1200px;

  div {
    width: 50%;
  }

  .text {
    display: flex;
    flex-direction: column;
    gap: 16px;
    .read-link {
      width: fit-content;
      cursor: pointer;
      color: $highlight-text-color;
    }
  }
}

.image-container {
  display: flex;
  justify-content: center;

  .my-photo {
    height: 380px;
    width: fit-content;

    filter: drop-shadow(0 0 3em #1e1e41);
  }
}
