@use "../_variables" as *;

@mixin animate($animation, $duration, $method, $times) {
  animation: $animation $duration $method $times;
}

@mixin keyframes($name) {
  @keyframes #{$name} {
    @content;
  }
}

.about {
  display: flex;
  flex-direction: row !important;
  width: 1200px;

  div {
    width: 50%;
  }

  .text {
    display: flex;
    flex-direction: column;

    .text-content {
      gap: 24px;
      display: flex;
      flex-direction: column;
      width: 100%;
    }
    .read-link {
      width: fit-content;
      cursor: pointer;
      color: $highlight-text-color;
      font-size: 1.2rem;
      text-decoration: none;
      font-weight: bold;
    }

    .logos {
      padding-top: 32px;
      display: flex;
      justify-content: space-around;
      width: 100%;
    }
  }
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;

  .my-photo {
    height: 320px;
    width: fit-content;
    border: 1px solid $primary-color;
    border-radius: 50%;
    padding: 4px;

    filter: drop-shadow(0 0 3em rgba($color: $primary-color, $alpha: 0.3));
  }
}
