@use "../_variables" as *;

.about {
  display: flex;
  flex-direction: row !important;
  width: 1200px;

  div {
    width: 50%;
  }
}

.my-photo {
  height: 450px;
  width: fit-content;

  filter: drop-shadow(0 0 10em #313194);
}
