@use "../_variables" as *;

@mixin animate($animation, $duration, $method, $times) {
  animation: $animation $duration $method $times;
}

@mixin keyframes($name) {
  @keyframes #{$name} {
    @content;
  }
}

.home {
  padding-top: 56px;
  height: 500px;
  position: relative;
  align-items: center;
  width: 100% !important;
  background: linear-gradient(
      0deg,
      rgba(11, 2, 33, 0.9) 0%,
      rgba(11, 2, 33, 0.4) 100%
    ),
    url(https://imgur.com/s671HHZ.jpg);

  .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 8px;

    h2 {
      font-size: 3rem;
      color: #efefef;
    }

    p {
      font-size: 1.2rem;
    }

    button {
      width: fit-content;
      padding: 12px 24px;
      border-radius: 8px;
      border: 0;
      color: #fff;
      background-color: $primary-color;
    }
  }
}

.background {
  height: 450px;
}
