@use "../_variables" as *;

@mixin animate($animation, $duration, $method, $times) {
  animation: $animation $duration $method $times;
}

@mixin keyframes($name) {
  @keyframes #{$name} {
    @content;
  }
}

.home {
  padding-top: 56px;
  height: 500px;
  position: relative;

  .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    gap: 8px;

    h2 {
      font-size: 2.5rem;
      color: #efefef;
    }

    p {
      font-size: 1.2rem;
    }

    button {
      width: fit-content;
      padding: 12px 24px;
      border-radius: 8px;
      border: 0;
      color: #fff;
      background-color: $primary-color;
    }
  }
}

.my-photo {
  height: 450px;
  position: absolute;
  right: 10%;
  top: 10%;

  @include keyframes(fade) {
    0% {
      filter: drop-shadow(0 0 3em #4c4c53);
    }
    100% {
      filter: drop-shadow(0 0 3em #00000000);
    }
  }
  @include animate(fade, 2s, linear, infinite);
}
