@use "../_variables" as *;

.carousel {
  .indicator {
    background-color: rgba($color: $primary-color, $alpha: 0.4);
    height: 10px;
    width: 10px;
    border-radius: 50%;
    cursor: pointer;
  }

  .select {
    background-color: $primary-color;
  }

  .control-dots {
    display: flex;
    justify-content: center;
    gap: 16px;
    position: absolute;
    bottom: -8px;
  }

  .card {
    background-color: $secondary-background-color;
    border: 1px solid $divider-background-color;
    border-radius: 8px;
    display: flex;
    height: 300px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    padding: 32px 16px;
    margin: 40px 16px;
    cursor: pointer;

    .logo {
      height: 80px;
      width: auto;
    }

    .company-text {
      height: 98px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      gap: 10px;
    }
  }
}

.experience-text {
  display: flex;
  gap: 40px;

  .column {
    width: 50%;

    .subtitle {
      padding-bottom: 16px;
    }

    .container {
      gap: 8px;
      display: flex;
      flex-direction: column;
      width: 100%;

      .responsabilities-list {
        li::before {
          content: "\2022";
          color: $primary-color;
          font-weight: bold;
          display: inline-block;
          width: 1em;
        }
      }

      .company-list {
        padding: 8px 0;

        .company {
          display: flex;
          gap: 16px;

          .logo {
            width: 56px;
            height: 56px;
            border-radius: 50%;
          }
        }
      }

      ul {
        display: flex;
        flex-direction: column;
        gap: 8px;
      }

      a {
        cursor: pointer;
        font-weight: 600;
        color: $highlight-text-color;
      }
    }
  }

  .card {
    padding: 24px;
    border-radius: 16px;
    background-color: $secondary-background-color;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 1em;
  }

  .sections {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
}
