@use "../_variables" as *;

.experience-text {
  display: flex;
  gap: 40px;

  .column {
    width: 50%;

    .subtitle {
      padding-bottom: 16px;
    }

    .container {
      gap: 8px;
      display: flex;
      flex-direction: column;
      width: 100%;

      ul {
        display: flex;
        flex-direction: column;
        gap: 8px;

        li {
          margin-left: 20px;
        }
      }
    }
  }

  .card {
    padding: 24px;
    border-radius: 16px;
    background-color: $secondary-background-color;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 1em;
  }

  .sections {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
}
