$primary-color: #2c00ff;
$text-color: rgba(255, 255, 255, 0.87);
$primary-background-color: #0c0c0d;
$secondary-background-color: #121214;
$input-background-color: #29292c;
$divider-background-color: #232323;
$button-text-color: #eeeeee;
