@use "variables" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1rem;
}

body {
  color: $text-color;
  height: 100vh;
}

body,
input,
button,
textarea {
  font: 400 16px "Roboto", sans-serif;
  color: $text-color;
}

label {
  font-size: 1.05rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.2rem;
}

b,
p {
  font-size: 1.2rem;
}

li {
  font-size: 1.1rem;
}

button {
  font-weight: bold;
}

#root {
  height: 100vh;
}

.app {
  display: flex;
  flex-direction: column;
}

.section {
  width: 100%;
  padding: 64px 40px;
  display: flex;
  justify-content: center;

  .content {
    display: flex;
    flex-direction: column;
    width: 1200px;

    .title {
      padding-bottom: 40px;
      font-size: 2rem;
      text-align: center;
    }
  }
}

.background-primary {
  background-color: $primary-background-color;
}

.background-secondary {
  background-color: $secondary-background-color;
}

.divider {
  height: 1px;
  width: 100%;
  background-color: $divider-background-color;
}

.text-secondary {
  color: $secondary-text-color;
}
