@use "variables" as *;

ul {
  list-style: none;
}

.header {
  display: flex;
  gap: 16px;
  justify-content: space-between;
  padding: 24px 40px;
  position: absolute;
  width: 100%;
}

.socials {
  display: flex;
  gap: 16px;

  li {
    padding: 8px;
    background-color: $secondary-background-color;
  }
}
