@use "variables" as *;

ul {
  list-style: none;
}

.header {
  display: flex;
  gap: 16px;
  justify-content: space-between;
  padding: 24px 40px;
  position: absolute;
  width: 100%;

  ul {
    display: flex;
    gap: 40px;

    li {
      cursor: pointer;
      font-weight: bold;

      &:hover {
        opacity: 0.8;
      }
    }
  }
}

.socials {
  display: flex;
  gap: 16px;
}
