@use "variables" as *;

ul {
  list-style: none;
}

.header {
  display: flex;
  gap: 16px;
  justify-content: space-between;
  padding: 16px 40px;
  position: fixed;
  width: 100%;
  z-index: 10;

  .menu {
    display: flex;
    align-items: center;
  }

  ul {
    display: flex;
    gap: 40px;

    li {
      cursor: pointer;
      font-weight: bold;

      &:hover {
        opacity: 0.8;
      }
    }
  }
}

.header-background {
  background-color: $primary-background-color;
  border-bottom: 2px solid $divider-background-color;
}

.socials {
  display: flex;
  gap: 16px;
}
